<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codekul.roshan.intentandintentfilters">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RedActivity" >
            <intent-filter>
                <action android:name="com.codekul.intent.Red"/>
                <action android:name="android.intent.action.DIAL"/>

                <category android:name="android.intent.category.RRR" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".BlueActivity" >
            <intent-filter>
                <action android:name="android.intent.action.Blue" />
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.Blue" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".GreenActivity">
            <intent-filter>
                <action android:name="com.codekul.intent.Green" />
                <category android:name="android.intent.category.Green" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>